body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* definiciones y estilos de los elementos de la vista */
header {
    grid-area: header;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 1%;
}

menu {
    grid-area: menu;
    display: flex; /* se define el menu como elemento flex de la barra lateral. Punto 3 del desafío*/
    flex-direction: column; /* necesario para despliegue en eje vertical */
}

/* definición de la parte principal del documento con display: grid, contenedor de una galeria: puntos 2 del desafío */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    justify-items: center;
    padding: 1%;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 1%;
    background-color: white;
}

/* use de grid areas para la vista según punto 1 del desafío*/
.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "menu main main main main main"
    "footer footer footer footer footer footer";
    gap: .5rem;
    background-color: violet;
    min-height: 100vh;
}

/* clase para modificar la apariencia de los números que indican cantidad de productos */
.cantidad {
    color: grey;
}


/*  */
.card {
    display: flex; /* construcción de tarjetas con flex. Punto 4 del desafío*/
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
}

.card-body {
    flex-grow: 1;
}

.card img {
    width: 100%;
    text-align: center;
    object-fit: cover; /* propiedad para mejorar la visión de las imagenes */
}

button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 1%;
    border: 0;
}