body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* definiciones y estilos de los elementos de la vista, para cumplir con el punto 1 del desafío */
header {
    grid-area: header;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 1%;
}

menu {
    grid-area: menu;
    display: flex; /* se define el menu como elemento flex de la barra lateral. Punto 3 del desafío*/
    flex-direction: column; /* necesario para despliegue en eje vertical */
}

/* definición de la parte principal del documento con display: grid, contenedor de una galeria */
/* para cumplir con el punto 2 del desafío */
main {
    grid-area: main;
    display: grid; /* uso del grid */
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    justify-items: center;
    padding: 1%;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 1%;
    background-color: white;
}

/* use de grid areas para la vista según punto 1 del desafío */
.grid-container {
    display: grid;
    /* uso de areas, según punto 1 del desafío */
    grid-template-areas: 
    "header header header header header header"
    "menu main main main main main"
    "footer footer footer footer footer footer";
    gap: .5rem;
    background-color: antiquewhite;
    min-height: 100vh;
}

/* clase para modificar la apariencia de los números que indican cantidad de productos */
.cantidad {
    color: grey;
}


/* definición general de la tarjeta */
.card {
    display: flex; /* construcción de tarjetas con flex. Punto 4 del desafío*/
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* se agrega efecto de sombra, para dar estilo personal */
    box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -1px rgba(0,0,0,0.75);
}
    
/* ayuda a que las tarjetas tengan las mismas dimensiones */
.card-body {
    flex-grow: 1;
}

.card img {
    width: 100%;
    text-align: center;
    object-fit: cover; /* propiedad para mejorar la visión de las imagenes */
}

.card-text {
    color: gray;
    font-size: large;
}

/* botón comprar incluído en las cards */
button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 2%;
    border: 0;
    font-size: large;
}